
<%include file="header.tmpl", args="title = 'Assignment Leader Boards'"/>

<p>
<ul>
% for a in assignmentList:
    <li>${a[1]} - <a href="${a[0]}.html">detailed</a>, <a href="${a[0]}_s.html">summary</a></li>
% endfor
</ul>
</p>

<p>
This leader board presents an anonymized list of the best assignment submissions of each student.  Each list is ordered so the highest quality solutions appear on top.  Solutions setting the optimality flag in the submission are marked in <span class="proof">bold</span>.  However, if the optimal flag is incorrect the solution is highlighted in <span class="lie">red</span>. Note that the leader board is not related to the grading, but it complements the grading feedback to show you how much your assignment may be improved and how your assignment compares to your peers.
</p>

## <p>
## Open in <a href="https://s3.amazonaws.com/dopt/002/index.html" target="_new">new window</a>.
## </p>

<%include file="footer.tmpl"/>